* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}

.card, .front-back-card {
    display: flex;
    flex-direction: column;
}



.card-back, .card-front {
    display: flex;
    width: 70%;
    position: relative;
}

.bg-main {
    position: relative;
    z-index: 1;
    height: 26vh;
}

.card-back {
    display: flex;
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    height: 19vh;
    margin-left: 25%;
}

.cvc-number-hidden {
    display: flex;
    color: white;
    z-index: 3;
    position: absolute;
    margin-top: 94px;
    margin-left: 80%;
    font-size: x-small;
    opacity: 75%;
}

.card-front {
    display: flex;
    position: absolute;
    z-index: 4;
    margin-top: 111px;
    margin-left: 5%; 
    height: 18vh;
}

.card-logo {
    display: flex;
    position: absolute;
    z-index: 4;
    margin-top: 130px;
    margin-left: 10%;
    height: 25px;
}

.card-number {
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    margin-top: 190px;
    margin-left: 10%;
    letter-spacing: 2px;
}

.card-name {
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    margin-top: 225px;
    margin-left: 10%;
    font-size:x-small;
    letter-spacing: 1px;
    opacity: 80%;
    font-family: inherit;
}

.month-out {
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    margin-top: 225px;
    margin-left: 62%;
    font-size:x-small;
    letter-spacing: 1px;
    opacity: 80%;
}

.year-out {
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    margin-top: 225px;
    margin-left: 67%;
    font-size:x-small;
    letter-spacing: 1px;
    opacity: 80%;
}

.slash{
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    margin-top: 225px;
    margin-left: 65.7%;
    font-size:x-small;
    letter-spacing: 1px;
    opacity: 80%;
}

.form-card {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 80px;
}

input {
    font-family: inherit;
    outline: none;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid hsl(270, 3%, 87%);
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    letter-spacing: 1px;
    color:hsl(279, 6%, 55%);
}


label {
    font-size: x-small;
    letter-spacing: 1px;
    color: hsl(278, 68%, 11%);
}

.month, .year {
    width: 100%;
}

.exp {
    display: flex;
    flex-direction: row;
}

.date-input {
    display: flex;
    flex-direction: column;
}

.mmyy-input {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.cvc-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-family: inherit;
    border: none;
    border-radius: 8px;
}

.success {
    margin: 15px;
    margin-top: 90px;
    display: flex;
    display: none;
    flex-direction: column;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.complete-logo {
    height: 70px;
    width: 70px;
}

h1 {
    color: hsl(278, 68%, 11%);
    font-weight: 500;
    margin-bottom: 10px;
}

.content p {
    color: hsl(279, 6%, 55%);
    margin: 0;
    margin-bottom: 30px;
}

input:hover, button:hover {
    cursor: pointer;
}

input:hover {
    border: 1px solid hsl(278, 89%, 37%);
}

button:hover {
    background-color: hsl(278, 59%, 23%);
}

.month-box{
    display: flex;
    flex-direction: column;
}

.year-box{
    display: flex;
    flex-direction: column;
}

small {
    color: red;
    opacity: 70%;
    font-family: inherit;
}

@media (min-width:576px){

    html {
        font-family: inherit;
    }
    .card{
        display: flex;
        flex-direction: row;
    }

    .card-back{
        margin-top: 325px;
        margin-left: 170px;
        width: 350px;
        height: 200px;
    }

    .card-front{
        margin-top: 100px;
        margin-left: 100px;
        width: 350px;
        height: 200px;
    }

    .bg-main{
        content: url(./images/bg-main-desktop.png);
        width: 375px;
        height: 100%;
    }

    .form-card{
        margin-left: 300px;
        margin-top: 200px;
        width: 350px;
    }


    .cvc-number-hidden {
        margin-top: 415px;
        margin-left: 450px;
        font-size: small;
        font-family: inherit;
        letter-spacing: 1px;
    }
    .month-out{
        margin-left: 400PX;
        margin-top: 270px;
    }

    .slash{
        margin-left: 414PX;
        margin-top: 270px;
    }

    .year-out{
        margin-left: 418PX;
        margin-top: 270px;
    }

    .card-name{
        margin-top: 270px;
        margin-left: 134PX;
    }

    .card-number{
        margin-top: 220px;
        font-family: 'Space Grotesk', sans-serif;
        margin-left: 134PX;
        font-size: 20px;
    }

    .card-logo{
        margin-left: 134PX;

    }

    .success{
        margin-left: 300px;
        margin-top: 200px;
        width: 350px;
    }
}
